<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="br.com.vilara.vilarashopping" />
	
	<http pattern="/resources/**" security="none" />
	
	<http>
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/**" access="hasAuthority('USER')" />
		
		<form-login login-page="/login"/>
		<logout />
		<!-- <csrf disabled="true"/> comando para desabilitar a segurança de csfr -->
	</http>



	<!-- dataSource foi buscado no bean do HiberenateConfig.java -->
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"

				users-by-username-query="select email, password, enabled from user_detail where email = ?"
				authorities-by-username-query="select email, role from user_detail where email = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>